body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #EDEDED;
}

ol, ul {
  padding-left: 30px;
}
.game{
  max-width: 1000px;
  margin: 0 auto;
}
.gameboard{
  margin: 30px 0;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 14px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 14px;
}

.square:focus {
  outline: none;
}

.btn{
  height: 42px;
    padding: 0 16px;
    border-radius: 6px;
    background-color: palevioletred;
    border: none;
}
#setting{
  margin-right: 120px;
}
